#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.numList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 320px;
  overflow-x: clip;
  word-break: break-word;
  min-height: 4rem;
}

.inputButton {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0.5rem 0;
  gap: 0.5rem;
}
.numList button {
  height: fit-content;
}
